<div class="auth-wrapper">
	<div class="aside">
		<div class="aside__logo">
			<a class="logo" href=""><img src="assets/logo.png" alt=""></a>
		</div>
		<nav class="aside__manu">
			<ul class="manu__list">

				<li class="manu__item"><a class="manu__link-active"  href="">Overview</a></li>
				<li class="manu__item"><a class="manu__link" href="">Streams</a></li>
				<li class="manu__item"><a class="manu__link" href="">History & reports</a></li>
				<li class="manu__item"><a class="manu__link" href="">Manage team</a></li>
				<li class="manu__item"><a class="manu__link" href="">Settings</a></li>



			</ul>



		</nav>
		



	</div>
	<div class="container">
		<div class="top__btn">
			<a class="one__btn" href=""><img src="assets/btn.png" alt=""></a>
			<a class="two__btn" href="">A</a>
		</div>
		<div class="page__title">
			<span class="title" >Hello Sam</span>
			<span class="sub__title">Wednesday,July 22 2020</span>

		</div>

		<div class="page__content">
			<div class="сontent__item">
				<div class="item__container">
					<span class="number__item-one">13</span>
					<span class="content__title-item">Team members at work</span>
				</div>
				<div class="item__container">
					<span class="number__item-two">11</span>
					<span class="content__title-item">Active streams</span>
				</div>
				<div class="item__container">
					<span class="number__item-three">4</span>
					<span class="content__title-item">Streams you have to approve</span>
				</div>
			</div>

		</div>
		<div class="page__content">
			<div class="сontent__item">
				<div class="item__container">
					<span class="number__item-four">$3,412</span>
					<span class="content__title-item">Stremead today</span>
				</div>
				<div class="item__container">
					<span class="number__item-five">$5,678</span>
					<span class="content__title-item">Expected stream</span>
				</div>
			</div>

		</div>



	</div>
</div>